sudo: false
language: python

addons:
  postgresql: "9.4"

before_script:
  - psql -c 'create database sqlalchemy_utils_test;' -U postgres
  - psql -c 'create extension hstore;' -U postgres -d sqlalchemy_utils_test
  - mysql -e 'create database sqlalchemy_utils_test;'

matrix:
  include:
  - python: 2.7
    env:
      - "TOXENV=py27"
  - python: 3.3
    env:
      - "TOXENV=py33"
  - python: 3.4
    env:
      - "TOXENV=py34"
  - python: 3.5
    env:
      - "TOXENV=py35"
  - python: 3.5
    env:
      - "TOXENV=lint"

install:
  - pip install tox

script:
  - tox
